/*
Author: Marcus W. Twiggs
Date: 1/15/25
File Name: Marcus W. Twiggs styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, section, aside, figure, img, figcaption, h2, h3, h4, p, input{
    margin: 0;
    padding: 0;
    border: 0;
}
/* Style rule for images */
img {
 	max-width: 100%;
 	max-height: 100%;
 	display: block;
 	display: center;
 }
 
 #intro {
     display: grid;
     vertical-align: middle;
     align-items: center;
     grid-template-columns: 1fr 1fr;
     column-gap: 5px
 }
 
  #intro-edu {
     display: grid;
     vertical-align: middle;
     align-items: top;
     grid-template-columns: 1fr 1fr;
     column-gap: 5px;
 } 
 
   #intro-careers {
     display: grid;
     vertical-align: middle;
     align-items: top;
     grid-template-columns: 1fr 1fr;
     column-gap: 5px;
 }  
 
 #intro-contact {
     display: grid;
     vertical-align: middle;
     align-items: center;
     grid-template-columns: 1fr 1fr;
     column-gap: 5px  
  }
  
 .image-text h1 {
     text-align: right;
     padding: 1%
 }
  
 .image-text h2 {
     font-size: 1.5 em;
     text-align: right;
     padding: 1%
 }
 
 .image-text p {
     font-size: 1em;
     text-align: left;
     padding: none;
 } 
 <!--fix form fields-->
 /*
 .image-text form {
  text-align: right;    
  }
 */
 
 .expandable__content-wrapper {
     border: 1px hidden;     
 } 

 input {
  display: none;
  }
  
label {
  font-size: 1em;
  background-color: #ffffff;
  display: block;
  cursor: pointer;
  padding: 10px 10px 10px 30px;
  position: relative;
  user-select: none;
 }
 
 label::before { 
   content: " ";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent black;
  height:0;
  font-size: 0;
  position: absolute;
  top: 18px;
  left: 10px;
  transition: transform 0.5s;
  transform-origin: 3px center;
} 

.expandable__content-wrapper div {
 font-size: 1em;  
  height:0;
  overflow:hidden;
  opacity:0;
}

input:checked ~ label:before {
  transform: rotate(90deg)
}


input:checked ~ div {
  padding: 10px;
  opacity: 1;
  height: auto;
} 

.table-edu {
    border-collaps: collaps;
    width: 80%;  
    margin: 0 auto;
    table-width: 400px;
 }
 .table-edu caption {
     text-align: center;
     font-size: 1.5;
     font-weight: bold;
     padding: 15px;  
 }
 
 .table-edu th, td {
     text-align: left;
     padding: 10px;
 }
 
 

 /* Style rule for box sizing applies to all elements */
* {
 box-sizing: border-box;
} 

 
/* Style rules for mobile viewport */
  /* Hide tab-desk class */
  .tab-desk {
  	display: none; 
  }

 /* Style rules for header content */
 header {
 	text-align:	left;
 	font-size: 1em;
 	color: #000000;
 	padding: none;

 	 }
 	 
 header h1 { 
 	font-family: 'DM Serif Display';
    }
  
 	 
 	 /* Sytle rules for hamburger menu */
 	 .mobile-nav a {
 	     color: #000000;
 	     font-family:'Francois One', sans-serif;
 	     text-align: center;
 	     font-size:  2em;
 	     text-decoration: none;
 	     padding: 3%;
 	     display: block;   
 	 }
 	
 	 .mobile-nav a.menu-icon {
 	     display: block;
 	     position: absolute;
 	     right: 0;
 	     top: 0;
 	 }
 
 
/* Style rule for images */
img {
 	max-width: 100%;
 	display: block;
 	display: center;
 	 }
 	 
  

 /* Show mobile class, hide tablet-desktop class and menu-links id */
 .mobile {
     display: block;
 }
 
 .tablet-desktop, #menu-links {
     display: none;
 }
 
mobile, mobile-nav {
    display: block
}

/* Style rulls for header */
header {
top: 0;
background-color: #fff;
height: 190;
}

header img {
margin:0 auto;
}
  
 /* Style rules for main content */

 #webdeveloper, #productliaison, #taxpreparer{
 	margin:	0 2%;
 }
 
 #info {
 	clear: left;
 	background-color: #ffffff;
 	padding: 3% 2%;
 }
 .image-text {
 padding: 2%;
 }

    main ul {
        list-style-type: none;
 	    text-align: left;
 	    padding: 2%;
 	    margin-bottom: 2%;
 	    margin-top: 2%;
 	    font-weight: normal;
        }
     
    main li {
        border-top: none;
       /* display: inline-block; */
        list-style-type: square;
        margin-left: 2%;
        }
       
     main li:last-child {
         border-right: none;
        }
              
    main li a {
        padding: 2%:
        display: inline-block;
        text-align: align;
        text-decoration: none;
     }
 
 
 #info ul {
    margin-left: 10%  
 }
 
 .round {
     border-radius:  8px;
 }
 
    figure {
     position: relative;
     max-width: 275px;
     margin:  auto;
     padding-top: 5%;
     margin-left: center;
     }
     
     figcaption {
     position: absolute;
     bottom:0;
     background: #000000;
     color: #fff;
     width: 100%;
     padding: 5% 0;
     text-align: center;
     font-family: Verdana, Arial, sans-serif;
     font-size: 1.5em;
     font-weight: bold;
     opacity: 0.5;
      }
      
    .home-mobile {
        display: block;
        text-align: justify; 
        padding: 4%; 
        margin-bottom: 2%;
 	    margin-top: 2%; 
        } 
 
    .about-mobile {
        display: block;
        text-align: justify; 
        padding: 4% 10%; 
        margin-bottom: 2%;
 	    margin-top: 0; 
        }  
 
 /* Styles rules for footer content */
 footer .copyright {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 2% 4%;
    float: left;
    width 75%;
 	}

 
 footer a {
 	color:	#000000;
 	text-decoration: none;
  	}
  	
  	.social {
  	    float:right;
  	    width: 10%;
  	    padding: 2%;   
  	}

  	.social img {
  	 display: inline-block;
  	    padding: 5%;
  	}
  
 
 /* Media Query for Tablet Viewport */
  @media screen and (min-width: 550px), print {
    /* Tablet Viewport: Show tab-desk class, hide mobile class */
      .tablet-desktop {
        display: block;
        }
  
     .mobile, .mobile-nav {
         display: none;
        }
          
     /* Tablet Viewport: Styles rules for header content */
        header {
            width: 10%;
            float: left;
            padding-bottom: 0;
            }
            
        span.tab-desk {
            display: block;
        }
    
     /* Tablet Viewport: Sytle rules for nav area */
     nav {
    	   background-color: #ffffff;
    	   color: #ffffff;
    	   padding: 0%;
    	   margin-bottom: 0%; 
    	   margin-top: 0%; 
         }  
 
     nav ul {
          list-style-type: none;
 	       text-align: right;
 	       padding: 0%;
 	       margin-bottom: 0%;
 	       margin-top: 0%;
        }
     
     nav li {
          font-size: 1.5em;
          font-family: 'Francois One', san-serif;
          border-top: none;
          display: inline-block;
          border-right: 1px solid #ffffff;
        }
        
     nav li:last-child {
            border-right: none;
        }
              
      nav li a {
            padding: none:
            display: block;
 	        color:	#000;
            text-align: center;
            text-decoration: none;       
          }
          
          .contact {
              font-size: 1em;
              padding: 2% 4%;
          }
          
          /* Styles rules for footer content */
    footer .copyright {
         font-size: 0.75em;
         text-align: center;
         color: #fff;
         padding: 2% 4%;
         float: left;
         width 75%;
 	   }

 
     footer a {
    	color:	#000000;
    	text-decoration: none;
     	}
  	
     .social {
        float:right;
        width: 7%;
        padding: 2%; 
        display: inline-block;  
    	}
  	
  	.social img {
  	     padding: 2%;
  	     display: inline-block; 	  
  	     }
           
          
    
        /* Desktop Viewport: Sytle rules for nav area */
        nav li a {
            padding: 0.5em 0.5em 0.5em 0.5em;
            }
          
        .headerimage{
            position: absolute;   
        }
        
    main #info p {
            text-align: left;    
        }
        
    main #intro {
        padding-top: 10%;
    }    
        
        
    main #intro-edu {
            padding-top: 14%;
        }
        
      main #intro-careers {
            padding-top: 15%;        
        }
        
      main #intro-info {
            padding-top: 6%;        
        }   
        
    #webdeveloper, #productliaison, #taxpreparer {
            width: 29%;
            float: left;
            margin-top: 7%;
            margin-bottom: 0;
            margin-left: 2%;
            margin-right: 2%;
            padding-top: 5%;
            }        
        
        
                
     .grid {
         display: grid;
         grid-template-columns: auto;
         grid-gap: 1px;
     }
        
        aside {
            grid-column: 1/span 2;
        }
        
        /* Tablet Viewport: Stye rules for form elements */
        figcaption {
            font-size: 1em;
            opacity: 0.5;        
        }
        figcaption img{
            border: 0px;
        }
        /* Tablet Viewport: Animation */
        @-webkit-keyframes text-animation {
            0% { font-size: 1em; }
            50% {font-size: 2em; }
        100% { font-size; 1.35em; }
            
        }  
        
        figcaption {
            -webkit-animation-name: text-animation;
            animation-name: text-animation;
            -webkit-animation-delay: 3s;
            -webkit-animation-duration: 5s;
            animation-duration: 5s; 
        } 
        
      }
        
    /* Media Query for Desktop Viewport */
    @media screen and (min-width: 769px), print {
        /* Desktop Viewport: Style rule for header */
        header {
            width: 10%;
            float: left;
            padding-bottom: 0;
            }
    
        /* Desktop Viewport: Sytle rules for nav area */
        nav li a {
            padding: 0.5em 1.5em 0.5em 1.5em;
            }
        
        nav li a:hover {
            color: #000000;
            background-color: #ffffff;
            transform: scale(1.3);
            }

        /* Desktop Viewport: Style rules for main content */
        #info ul {
            margin-left: 5%;
            }
            
        main #info p {
            text-align: left;
              
        }
        main #intro-edu {
            padding-top: 10%;
        }
        
         main #intro-careers {
            padding-top: 10%;        
        }   
                   
        .new {
            display: block;
            text-align: left;
            
        }
        
        main h3 {
            font-size: 1.5em;
            }
            
        #webdeveloper, #productliaison, #taxpreparer{
            width: 29%;
            float: left;
            margin-top: 5%;
            margin-bottom: 0;
            margin-left: 2%;
            margin-right: 2%;
            padding-top: 1%;
            }
            
        .grid {
            disply: auto;  
        }
        
        figcaption {
            font-size: 1em;
            opacity: 0.5;   
        }
        
        aside {
            grid-column: 1;  
        }
            
    } 
        /* Media Query for Print */
        @media print {
            body {
                background-color: #fff;
                color: #000000;